body {
	background-color: lightgray;
}
table {
	border: 0.5px solid;
}
#snake th {
	height: 25px;
	width: 25px;
	border: 0.25px solid;
}
#scoreT th {
	padding: 5px;
}
.number {
	width: 5px;
}
form {
	display: inline;
}
.tableDiv {
	display: inline-block;
}
.scoreDiv {
	margin-left: 20px;
}
#actualScore {
	margin-top: 20px;
	width: 170px;
}